<div class="masthead center aligned">
	<h1>
		Title
	</h1>
	<span>Slogan</span>
</div>

<div class="ui text container">
	<p class="ui icon message">
		<i class="smile icon"></i>
		Hello World!
	</p>
</div>
