<!DOCTYPE html>
<html>
    <head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">

		<title>Simpleton</title>
		
		<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" href="/static/local/css/default.css">
    </head>
    <body>
	    
	    <header class="top fixed ui inverted secondary pointing menu">
		    <nav class="ui container">
				<?php if ( ! isset($_GET['route']) ) $_GET['route'] = ''; ?>
				<a class="item <?=(! $_GET['route'] ) ? 'active' : ''?>" href="/">Home</a>
				<a class="item <?=substr($_GET['route'],0,7) == 'example' ? 'active' : ''?>" href="/example">Example</a>
			</nav>
	    </header>
		
		<main>
			<?php include Simpleton\view( $view ); ?>
		</main>
		
	    <footer class="bottom fixed inverted one item secondary ui menu">
		    <div class="ui container">
			    <div class="item">
				    Copyright &copy; 2015
			    </div>
		    </div>
	    </footer>
		
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>
		
    </body>
</html>